.NewsLetter {
  width: 65%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 20px;
  background: linear-gradient(to left, #ffffff, #cfdeec 60%);
  gap: 30px;
}
.NewsLetter h1 {
  margin-top: 100px;
  color: #593d0a;
  font-size: 55px;
  font-weight: 600;
}
.NewsLetter p {
  color: #083556;
  font-size: 20px;
  letter-spacing: 4px;
}
.NewsLetter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #4e4110;
}
.NewsLetter input {
  width: 400px;
  height: 50px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
.NewsLetter div button {
  width: 210px;
  height: 79px;
  border-radius: 80px;
  background: #083556;
  color: #ecd9b3;
  font-size: 23px;
  cursor: pointer;
  border: none;
  transition: ease-in all 0.2s;
  margin-top: -1%;
  margin-right: -10%;
}
.NewsLetter div button:hover {
  background: transparent;
  color: #0d3b5b;
  background: #c4b493;
}
@media only screen and (max-width: 600px) {
  .NewsLetter {
    flex-direction: column;
    align-items: center; /* Center items in column layout */
    padding: 20px; /* Add some padding for better spacing */
  }
  .NewsLetter h1 {
    font-size: 30px; /* Adjust font size for headers */
    margin: 10px 0; /* Add margin for spacing */
    text-align: center;
  }
  .NewsLetter p {
    font-size: 13px; /* Adjust font size for paragraph */
    text-align: center;
    letter-spacing: 2px;
  }
  .NewsLetter div {
    margin-top: 10%;
    width: 100%;
    height: 50px;
  }
  .NewsLetter input {
    width: 200px;
    height: 20px;
  }
  .NewsLetter div button {
    width: 97px;
    height: 50px;
    font-size: 12px;
    margin-left: -30%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: -1px;
  }
}
