.loginsignup {
    width: 100%;
    height: 80vh;
    background: #9ababf;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginsignup-container {
    width: 30%;
    background: white;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginsignup-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40;
  }
  
  .loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .loginsignup-fields input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 3px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .loginsignup-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .loginsignup-options label {
    color: #5c5c5c;
    font-size: 30px;
    font-weight: 500;
    width: 100%;
  }
  
  .loginsignup-options a {
    color: #ff4141;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .loginsignup-container button {
    width: 100%;
    height: 50px;
    color: white;
    background: #5aa866;
    margin-top: 30px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  
  .loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
  }
  
  .loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    color: #a03535;
    font-size: 16px;
    font-weight: 500;
  }