.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 60px 170px;
  text-transform: capitalize;
}
@media only screen and (max-width: 600px) {
  .breadcrum {
    width: 100%;
    text-align: left;
    margin-left: 3%;
  }
}
