.newCollections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.newCollections h1 {
  color: #927742;
  font-size: 60px;
  font-weight: 600;
}
.newCollections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  color: #083556;
}
.collections img {
  width: 200px;

  transition: 0.6s;
}
.collections img:hover {
  transform: scale(1.05);
}
.collections {
  outline: 2px solid #083556;
  border: 2px solid #c4b493;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 75px;
  margin-top: 50px;
  row-gap: 40px;
  max-width: 1300px;
}
.collections a {
  text-decoration: none;
}
.collections p {
  font-size: 15px;
}
@media only screen and (max-width: 600px) {
  .newCollections h1 {
    font-size: 30px;
    margin-top: 10%;
    background-color: #dbc8a6;
    font-weight: bold;
  }
  .collections {
    display: flex;
    flex-direction: column;
    width: 64%;
    justify-content: center;
    text-align: center;
    margin-left: 4%;
    font-size: 20px;
  }
  .collections p {
    font-size: 20px;
    text-align: center;
  }
}
