.hero {
  height: 100vh;
  background: linear-gradient(180deg, #659bb1, #e1ffaa22 60%);
  display: flex;
}
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
  margin-bottom: 10%;
}

.hero-left h2 {
  color: #5b3f0c;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 10px;
  margin-bottom: 5%;
  margin-top: 40px;
}
.hero-left p {
  color: #0d3b5b;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
}
.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-hand-icon img {
  width: 70px;
  transition: all 0.3s ease-in;
}
.hero-hand-icon img:hover {
  width: 105px;
  transform: rotate(-5deg);
}

.hero-latest-btn {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 15px;
  width: 280px;
  height: 60px;
  border-radius: 75px;
  margin-top: 30px;
  background-color: #083556;
  color: #c4b493;
  font-size: 22px;
  font-weight: 700;
  padding-left: 30px;
  transition: ease-in all 0.3s;
  cursor: pointer;
}
.hero-latest-btn:hover {
  background: transparent;
  color: #0d3b5b;
  border: 2px solid #0d3b5b;
  background: #c4b493;
  transform: scale(0.9);
}
.hero-latest-btn img {
  transition: all 0.3s;
}

.hero-latest-btn img:hover {
  transform: translateX(80%);
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-right img {
  width: 500px;
}
@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    height: auto;
  }

  .hero-left {
    padding-left: 20px; /* Reduced padding */
    padding-right: 20px; /* Added padding for right */
    text-align: center; /* Center text for mobile */
    margin-bottom: 20px; /* Adjust margin */
  }

  .hero-left h2 {
    font-size: 16px; /* Smaller font size for headings */
    letter-spacing: 5px; /* Reduced letter spacing */
  }

  .hero-left p {
    font-size: 40px; /* Smaller font size for paragraphs */
  }

  .hero-hand-icon {
    flex-direction: column; /* Stack icons vertically */
    align-items: center; /* Center icons */
  }

  .hero-hand-icon img {
    width: 50px; /* Smaller icon size */
  }

  .hero-right img {
    width: 100%; /* Full width on mobile */
    max-width: 300px; /* Limit max width */
  }

  .hero-latest-btn {
    width: 40%;
    font-size: 10px; /* Smaller font size */
    padding-left: 20px;
    height: 30px;
    display: flex;
    margin-left: 30%;
  }
  .hero-latest-btn img {
    width: 25px;
    padding-right: 10px;
  }
  .hero-hand-icon img {
    width: 40px;
    margin-top: -6%;
  }
}
