.offers {
  width: 75%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #ffffff, #cfdeec 60%);
}
.offer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offer-left h1 {
  color: #083556;
  font-size: 50px;
  font-weight: 700;
}
.offer-left p {
  color: #083556;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
}
.offer-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #083556;
  border: none;
  color: #e2d6be;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.offer-left button:hover {
  transform: scale(0.9);
  border: 1px solid #083556;
  color: #8c6e35;
  background-color: transparent;
}
.offer-right {
  flex: 1;
  display: flex;
  align-items: column;
  justify-content: flex-end;
  padding-top: 50px;
}
@media only screen and (max-width: 600px) {
  @media only screen and (max-width: 600px) {
    .offers {
      margin-top: 1295px;
      flex-direction: column;
      align-items: center; /* Center items in column layout */
      padding: 20px; /* Add some padding for better spacing */
    }

    .offer-left {
      text-align: center; /* Center text for better aesthetics */
      margin-bottom: 20px; /* Add spacing below the left section */
    }

    .offer-left h1 {
      font-size: 32px; /* Adjust font size for headers */
      margin: 10px 0; /* Add margin for spacing */
    }

    .offer-left p {
      font-size: 13px; /* Adjust font size for paragraph */
      margin: 10px 0; /* Add margin for spacing */
    }

    .offer-left button {
      width: 120px; /* Adjust button width */
      height: 30px; /* Adjust button height */
      font-size: 12px; /* Adjust button font size */
      margin-left: 30%;
      padding-bottom: 10%;
    }

    .offer-right img {
      width: 100%; /* Full width for images */
      height: 50%;
    }
  }
}
