.Popular {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.Popular h1 {
  color: #083556;
  font-size: 60px;
  font-weight: 600;
}
.Popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  color: #8c6e35;
}
.popular-item {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  transition: ease-in all 0.5s;
  margin-left: 40px;
}
.popular-item img {
  width: 300px;
  transition: 0.6s;
}
.popular-item a {
  text-decoration: none;
}
.popular-item img:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 600px) {
  .Popular h1 {
    font-size: 30px;
    margin-top: 10%;
    background-color: #dbc8a6;
    font-weight: bold;
  }
  .popular-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 45%;
  }
  .popular-item img {
    width: 246px;
    transition: 0.6s;
  }
}
