.cartitems {
  margin: 100px 170px;
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon {
  height: 62px;
}

.cartitems-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #e2e2e2;
}

.cartitems-down {
  display: flex;
  margin: 100px 0px;
}

.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.cartitems-total button {
  max-width: 262px;
  height: 58px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: #0d3b5b;
  color: #c4b493;
  border-radius: 30px;
}

.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.cartitems-promocode p {
  color: #555;
}

.cartitems-promobox {
  width: 390px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
}

.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 200px;
  height: 50px;
}

.cartitems-promobox button {
  width: 170px;
  height: 60px;
  font-size: 16px;
  background: #0d3b5b;
  color: #c4b493;
  border-radius: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .cartitems {
    margin: 20px; /* Reduced margin for mobile */
  }

  .cartitems-format-main {
    gap: 10px; /* Reduced gap */
    font-size: 16px; /* Adjust font size */
  }

  .carticon-product-icon {
    width: 0;
  }

  .cartitems-down {
    flex-direction: column; /* Stack the cart totals section vertically */
  }

  .cartitems-total {
    margin-right: 0; /* Remove right margin */
  }
  .cartitems-total h1 {
    text-align: center;
  }

  .cartitems-total-item {
    flex-direction: column;
    align-items: center;
    font-size: larger;
  }
  .cartitems-total-item h3 {
    font-size: 25px;
  }
  .cartitems-total button {
    width: 218px;
    font-size: 12px;
    height: 40px;
    margin-left: 20%;
  }
  .cartitems-promocode p {
    font-size: 19px;
    margin-left: 20px;
    margin-top: 100px;
  }
  .cartitems-promobox button {
    width: 122px;
    font-size: 12px;
    height: 40px;
  }
}
